

	<!--section class="page-content">
		<div class="container">
			
			<div class="row">
				<div class="col-md-10 col-md-offset-1">

					<div class="call-to-action call-to-action__no-bg centered">
						<div class="cta-txt">
							<h1>Первый специализированный салон для детей «Чуб-Чик» открылся 29 августа 2009 года.</h1>
							<div class="text-left">
								<p>
									<strong>«Чуб-Чик»</strong> дарит радость всем детям, но для некоторых это единственное место, где они могут подстричься! К 
									нам приходят клиенты, которых выставляли из других салонов, где их дети не могли сидеть спокойно или 
									плакали. Наши парикмахеры работают с детьми всех возрастов. Они делают отличные прически и стараются, 
									чтобы дети испытывали при этом минимальное напряжение. Мы не отказываем ни одному ребенку!
								</p>
								<div class="row">
  									<div class="col-xs-6 col-md-4">
    									<a href="/photos/grand-open-kursk/" class="thumbnail">
      									<img src="/images/photos/grand-open-kursk/image_5.jpg" />
    									</a>
  									</div>
									<div class="col-xs-6 col-md-4">
    									<a href="/photos/grand-open-kursk/" class="thumbnail">
      									<img src="/images/photos/grand-open-kursk/image_40.jpg" />
    									</a>
  									</div>
									<div class="col-xs-6 col-md-4">
    									<a href="/photos/grand-open-kursk/" class="thumbnail">
      									<img src="/images/photos/grand-open-kursk/image_4.jpg" />
    									</a>
  									</div>
								</div>
								<p>
									Не секрет, что во многих взрослых салонах красоты детей берутся стричь неохотно — нет более капризных и 
									нетерпеливых клиентов. Тут одним парикмахерским мастерством не обойтись. Нужно найти подход к ребенку, 
									понравиться ему, и только потом приступать к исполнению заказа. Оказалось, что индивидуальный подход, 
									психологическое сопровождение, знание законов адаптации незаменимы в процессе стрижки детей. Мастера и 
									администраторы детской парикмахерской <strong>«Чуб-Чик»</strong> прошли специальную психолого-педагогическую подготовку, 
									которая позволяет им гибко и профессионально действовать по отношению к каждому ребенку. Мы попытались 
									выполнить задачу создания неповторимой атмосферы, в которой ребенок чувствует себя главным действующим 
									лицом — клиентом, желание которого — закон. 
								</p>
								<p>
									В процессе манипуляций над детьми, те могут сидеть на игрушечных Harley Davidson, машине Барби, специальном 
									детском стульчике, смотреть любимые мультики и фильмы на DVD. Играться могут и дети, ожидающие своей 
									очереди. На них тоже игрушек хватает. Как, собственно, и на всех заходящих в «Чуб-Чик». Поэтому родителям 
									необязательно присутствовать на всей церемонии «красоты». Можно заняться собой в зале для взрослых, который 
									работает параллельно.
								</p>
								<p>
									Лучший подарок, который мы можем сделать ребенку, — это не столько любить его, сколько научить его любить 
									самого себя. Научить любить свою внешность, ухаживать за собой, меняться, преображаться и не бояться быть 
									ярким – это в компетенции не только родителей, но и профессионалов детской парикмахерской <strong>«Чуб-Чик»</strong>.
								</p>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</section-->
