<!--li class="col-md-4 col-sm-12">
   <img src="/assets/img/Icons/Compas.png" alt="">
   <h3>{price_job_title}</h3>
   <p>{price_job_description}</p>
</li-->

<div class="col-sm-4">
   <div class="smartClass ">
      
      <img src="/images/services/{price_photo}" alt="img" style="height: 270px;">

      <div class="infoClass">
         <p style="min-height: 130px">{price_job_title}</p>
      </div>
   </div>
</div>