<div class="tp-banner-container fadeInIn">
	<div id="slider" class="tp-banner" >
		<ul>

			<li data-transition="fade" data-slotamount="7" data-masterspeed="1000"  data-saveperformance="on" >
				<img src="/images/gallery/011.jpg" alt="seabg1" />
			</li>

			<li data-transition="fade" data-slotamount="7" data-masterspeed="1000"  data-saveperformance="on" >
				<img src="/images/gallery/006.jpg" alt="seabg1" />
			</li>

			<li data-transition="fade" data-slotamount="7" data-masterspeed="1000"  data-saveperformance="on" >
				<img src="/images/gallery/012.jpg" alt="seabg1" />
			</li>

		</ul>
		<div class="tp-bannertimer"></div>
	</div>
</div>
