<section class="sectionPadding bannerTxt" style="background-image:url(/images/sci_bg.png);">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <h1>{page_name}</h1>
         </div>
      </div>
   </div>
</section>
