<section class="kindergarden "> 
		<div class="kindergardenFacilities v{id}" style="background-image: url(/images/bg/{background});">
			<div class="container">
				<div class="row">
					
               <div class="contentFacilities">
						<!--h2>{title}</h2-->
						<div class="row">
							<div class="col-sm-8{right}">
							   {text}
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>