<script>
   $(document).ready(function(){

   $(".group1").colorbox({rel:'group1', transition:"none", scrolling:false, width:"100%", height:"100%", opacity: 0.85});
   
   $(document).bind('cbox_open', function() {
      $('html').css({ overflow: 'hidden' });
   }).bind('cbox_closed', function() {
      $('html').css({ overflow: '' });
   });
   
});
</script>
<section class="page-content">
   <div class="container">

      <div class="row">
         
         {photos}
      
      </div>

   </div>
</section>